.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
vignettes/*/
vignettes/*.aux
vignettes/*.bbl
vignettes/*.bcf
vignettes/*.blg
vignettes/*.log
vignettes/*.out
vignettes/*.run.xml
vignettes/*.tex
vignettes/knitr.sty

